<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url2로 구성된 두번째 페이지</title>
</head>
<body>
<h2>아 너무 배고파</h2>
</body>
</html>
